@import 'normalize.css';
@import url("welcome.css");

* {
   box-sizing: border-box;
}

body{
    font-family: 'Raleway', sans-serif;
}

h1, h2, h3, h4, h5, h6, p, ul,li {
  color: #424242;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.75rem;
}

h4 {
  font-size: 1.375rem;
}

h5 {
  font-size: 1.25rem;
}

h6 {
  font-size: 1rem;
}

p, li {
  font-size: 1.1rem;
  line-height: 1.75;
}

p, ul, ol {
  margin: 0 0 1.6em 0;
}
.wrapper{
    width: 90%;
    margin: 0 auto;
}

.wrapper_padding {
  padding: 3rem 0;
}

.clearfic:before, .clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}
#main_navigation {
  padding: 2.5em 5%;
  border-bottom: 1px solid #e9e9e9;
}
#main_navigation .name {
  font-weight: 700;
  font-size: 0.87em;
  letter-spacing: 4px;
  text-transform: uppercase;
  border: 2px solid #e9e9e9;
  padding: 1rem;
  text-decoration: none;
  color: #424652;
  float: left;
}
#main_navigation nav {
  float: right;
  padding-top: 1.5rem;
}
#main_navigation nav a {
  color: #424652;
  text-decoration: none;
  margin: 0 1rem;
  font-size: 1rem;
}

/* .col-1, .col-2, .col-3 {
  float: left;
}
.col-1 {
  width: 45%;
  padding: 0 5% 0 2.5%;
}
.col-2, .col-3 {
  width: 27.5%;
  padding: 0 2.5%;
} */

#main_footer {
  padding: 2.5em 5%;
  border-top: 1px solid #e9e9e9;
}

#main_footer .copyright {
          float: left;
          font-size: .9em;
          margin: 0;
}

#main_footer nav {
  float: right;

}

#main_footer nav i {
  color: #424242;
  margin-left: 1em;
  padding-top: .2em;
}

#main_footer nav i $:hover {
  color: #8bc6db;
}
