

<div class="wrapper wrapper_padding clearfix">
        <div class="col-1 homepage_content">
            <h2>About</h2>
            <hr>
            <p>I'm a Developer & Designer based in Noida,India</p>
           <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam ac mauris sed libero malesuada vestibulum id ac neque.</p>
           <p>aliquet quam quis, tempus nunc. Fusce aliquet eget justo et venenatis. Integer non justo a justo vehicula maximus.</p>
            <p>Suspendisse pulvinar mi vitae sem ultrices hendrerit.</p><p>Morbi sollicitudin consequat pharetra. Ut vehicula pharetra
            maximus. Nulla ut elit a leo mattis porta eu ut eros.</p>
        </div>
        <div class="col-2 homepage_content">
         <h2>Stuffs I have Written</h2>
         <hr>

         <% @posts.each do |post| %>

         <h3><a href="#"><%= link_to post.title, post %></a></h3>
         <p class="date"><%= post.created_at.strftime("%A, %b %d") %></p>
       	 <% end %>
        </div>

        <div class="col-3 homepage_content">
            <h2>Stuff I have Made</h2>
            <hr>
            <h3><a href="#">My first AMP</a></h3>
            <p class="date">Sept 18 2k18</p>
            <h3><a href="#">My Portfolio</a></h3>
            <p class="date">Sept 19 2k18</p>
            <h3><a href="#">My Attraction towords Someone</a></h3>
            <p class="date">Sept 2k18</p>
        </div>
    </div>